<!DOCTYPE html>
<html lang="en">
<head>
    <title>easy work</title>
    <link rel="stylesheet" href="static/css/easy.css">
    <script src="{{ url_for('static', filename='/js/lib/jquery-3.3.1.min.js') }}"></script>
    <script src="static/js/lib/jquery-ui-1.12.1.min.js"></script>
    <script src="static/js/easy.js"></script>
</head>
<style>
    .box {
        position: absolute;
        border: 3px solid red;
    }
    .svgObject {
        opacity: 0.5;
        , fill: #00ff00;
        , stroke-width: 2px;
        , stroke: #00FF00;
    }
</style>
<body id="color">
<div id="message" class="top_message" onclick="go()">마우스를 이용해 사물의 좌상단, 우하단을 클릭하여 박스를 그려주세요</div>
<div class="wrap">
    <img class="draw_img" src="static/img/test_3.jpg" width="1200">
    <svg class="canvas" id="rect" onclick="action_coords(event)" xmlns="http://www.w3.org/2000/svg" version="1.1" >
    </svg>

</div>
</body>
</html>