<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI STUDIO TOOLS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="top_box">
<!--   <img style="float:left;" src="{{ url_for('static', filename='/img/logo.jpg') }}" />-->
    <img style="float:left;" src="static/img/logo.jpg" />
        <div class="menu_item">
            <a href='/'>RemoveBG</a>
        </div>
        <div class="menu_item">
            <a href="/detect2">Object Detection</a>
        </div>
        <div class="menu_item">
            <a href="/object_detect">Annotation</a>
        </div>
        <div class="menu_item">
            <a href="#" onclick="window.open('http://suite.aistudio.co.kr/annotation/annotation?taskNumber=TSK00000000000000002&projectId=1593573589667b8dc6e86bb4911ea8989c8ddfc57bfb6','My Crowd', 'height=' + screen.height - + ',width=' + screen.width + 'fullscreen=yes'); return false" >2D Demo</a>
        </div>
        <div class="menu_item">
            <a href="#" onclick="window.open('http://suite.aistudio.co.kr/annotation/tool','My Crowd', 'height=' + screen.height - + ',width=' + screen.width + 'fullscreen=yes'); return false" >3D Demo</a>
        </div>

        <div class="menu_item">
            <a href="#" onclick="window.open('/easy_work', 'easy work', 'width=1024, height=768, top=200, left=200 scroll=no' ); return false">Easy Work</a>
        </div>
</div>

{% block content %}{% endblock %}


</body>
</html>
