{% extends 'layout.html' %}

{% block content %}
</div>
<div class="body_box">
    <div class="contents_box">
        <img style="margin-top:50px;" src="{{ url_for('static', filename='/img/upload6.jpg') }}" width="500"/>
        <div class="upload_box">
            <form action="/fileUpload2" method="POST" enctype="multipart/form-data" >
                <label for="ex_file"><img src="{{ url_for('static', filename='/img/upload2.jpg') }}"/></label>
                <input type = "file" id="ex_file" name = "file" onchange="this.form.submit()"/>
<!--                <input type = "submit" />-->
            </form>

        </div>
        <div class="bottom_wrap">
            {% if not file_names %}
            <img src="{{ url_for('static', filename='/img/sample2.jpg') }}" width="1000" />
            {% endif %}
            {% if file_names %}
            <h1>This is {{ percentage }}% {{ item }}</h1>
            <div class="bottom_item">
                <img src="{{ url_for('static', filename=file_names) }}" width="500"/>
            </div>

            <div style="width:40px; height:300px; display:block;" class="bottom_item"></div>
            <div class="bottom_item">

                <img src="{{ url_for('static', filename=seg_file) }}" width="500"/>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}